{{extend 'layout.html'}}
{{block breadcrumb}}
<ul class="breadcrumb">
    <li><a href="{{=URL('project', 'index')}}">Projects</a></li>
    {{for ancestor in notes.get_parents(note):}}
    <li><a href="{{=URL('project', 'view', args=[ancestor.id])}}">{{=ancestor.title}}</a></li>
    {{pass}}
    <li>{{=note.title}}</li>
</ul>
{{end}}

<a class="button" href="{{=URL('project', 'overview', args=[note.id])}}">Switch to Overview</a>
<br>

<button id="edit-toggle-button" onclick="openEditView();">Edit</button>
<div id="note-info">
    <h1>{{=note.title}}</h1>
    <p>{{=note.contents}}</p>
</div>
<form id="note-info-edit" style="display: none;">
    <input id="edit-title" 
           type="text"
           value="{{=note.title}}">
    <input type="button" value="Save Changes" onclick="tryEdit({{=note.id}});">
    <br>
    <textarea id="edit-description" 
           type="text">{{=note.contents}}</textarea>
</form>

<ul class="card-list">
    <li class="actions">
        <div class="note">
            <form action="" enctype="multipart/form-data" method="post">
                <h3>Add Note</h3>
                <input name="title"
                       class="string title-short {{=('error clarified' if form.errors.title else '')}}" 
                       placeholder="Title"
                       type="text"
                       value="{{=request.vars.title or ''}}">
                {{ if form.errors.title: }}
                <br><small class="error-message">{{ =form.errors.title }}</small>
                {{ pass }}
                <textarea name="contents"
                          class="string summary-vert-short {{=('error clarified' if form.errors.contents else '')}}" 
                          placeholder="Description"
                          type="text">{{=request.vars.contents or ''}}</textarea>
                {{ if form.errors.contents: }}
                <small class="error-message">{{ =form.errors.contents }}</small><br>
                {{ pass }}
                <input type="submit" class="title-short" value="Add Note">
                <div style="display:none;">
                    <!-- Web2py Values -->
                    <input name="_formkey" type="hidden" value="{{=formkey}}">
                    <input name="_formname" type="hidden" value="new-note">
                    <!-- Hidden Values -->
                    <input name="parent" type="number" value="{{=note.id}}">
                </div>
            </form>
        </div>
        <div class="note">
            <form>
                <h3>Add Direct Child</h3>
                <p class="title-short small">
                    This adds a child to <em>{{=note.title}}</em> and places all the existing children into that new child.
                </p>
                <input id="insert-title"
                       class="string title-short"
                       placeholder="Title"
                       type="text">
                <br>
                <input type="button" class="title-short" value="Add Child" onclick="tryInsert({{=note.id}});">
            </form>
        </div>
        <div class="note">
            <form>
                <h3>Move Note</h3>
                <select id="move-note">
                    {{ for move in notes.get_moveable_notes(note): }}
                    <option value="{{=move.id}}">{{=move.title}}</option>
                    {{ pass }}
                </select>
                <br>
                <input type="button" class="title-short" value="Move to Note" onclick="tryMove({{=note.id}});">
            </form>
        </div>
    </li>
    {{for note in notes.get_children(note):}}
    <li class="note">
        <a href="{{=URL('project', 'view', args=[note.id])}}">
            <h3>{{=note.title}}</h3>
            <p>{{=note.contents}}</p>
        </a>
    </li>
    {{pass}}
</ul>
{{block scripts}}
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="{{=URL('static', 'js/onpage-edit.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/onpage-insert.js')}}" type="text/javascript"></script>
<script src="{{=URL('static', 'js/onpage-move.js')}}" type="text/javascript"></script>
{{end}}