<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="application-name" content="{{=request.application}}" />
        <title>{{=response.title or 'Take Note'}}</title>
        {{block styles}}
        <link rel="stylesheet" href="{{=URL('static', 'css/default.css')}}" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="{{=URL('static', 'css/puff.css')}}" type="text/css">
        <link rel="stylesheet" href="{{=URL('static', 'css/layout.css')}}" type="text/css">
        {{end}}
    </head>
    <body>
        <header>
            <nav>
                <div id="navbar">
                    <span>Take Note</span>
                    <ul class="horizontal">
                        <li><a href="{{=URL('default', 'index')}}"><span class="fa fa-home"></span>Home</a></li>
                        <li><a href="{{=URL('project', 'create')}}"><span class="fa fa-plus"></span>New Project</a></li>
                    </ul>
                </div>
                {{block breadcrumb}}
                <ul class="breadcrumb"></ul>
                {{end}}
            </nav>
        </header>
        <main>
            {{ include }}
            {{ pass }}
        </main>
        <footer>

        </footer>
        {{block scripts}}
        {{end}}
    </body>
</html>
