/*
Functionality
----------------------------------------------*/
.float-left {
    display: inline-block;
    float: left;
}
.float-right {
    display: inline-block;
    float: right;
}

.mirrored {
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.upcase {
    text-transform: uppercase;
}
.downcase {
    text-transform: lowercase;
}
.titlecase {
    text-transform: capitalize;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.clear {
    clear: both;
    margin: 0;
}

*, 
*:before, 
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
Typography
----------------------------------------------*/
body {
    font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1.65rem;
    background: #fff;
    color: #222222;
}
/* Links */
a {
    color: #134da5;
    text-decoration: none;
}
a,
a:hover,
a:link,
a:visited {
    text-decoration: none;
}
a:focus,
a:hover {
    color: #de2c3b;
    border-bottom: 1px solid rgba(222, 44, 59, 0.4);
}
a.inactive,
a.inactive:hover,
a.inactive:link,
a.inactive:visited,
a.inactive:focus,
a.inactive:hover {
    color: #888;
    text-decoration: none;
    border-bottom: none;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    font-weight: bold;
    color: #000000;
    text-rendering: optimizeLegibility;
    margin: 0.5em 0 0.5em 0;
}
h1 {
    line-height: 110%;
    font-size: 2.25em;
}
h2 {
    line-height: 110%;
    font-size: 1.5em;
    margin-bottom: 0.7em;
}
h3 {
    line-height: 130%;
    font-size: 1.3125em;
}
h4 {
    line-height: 130%;
    font-size: 1.125em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.9em;
}
header {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
header h1 {
    text-align: center;
}
/* Blockquote */
blockquote {
    position: relative;
    font-style: italic;
    font-size: 1.125em;
    margin-left: 2.5em;
    padding-left: 1.65em;
    border-left: 2px solid #ccc;
}
blockquote p {
    margin-bottom: .5em;
}
blockquote small,
blockquote cite {
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    font-size: 0.8em;
    line-height: 100%;
}
blockquote em,
blockquote i {
    font-style: normal;
}
/* Address */
address {
    font-style: normal;
}
/* Text */
s,
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted #0f0f0f;
    cursor: help;
}
strong,
b {
    font-weight: bold;
}
em,
i {
    font-style: italic;
}
sub,
sup {
    font-size: 0.7em;
    line-height: 0;
    position: relative;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
figcaption {
    margin: 0.3em 0;
    font-size: 0.8em;
    font-style: italic;
}
ins,
u {
    text-decoration: underline;
}
mark {
    background-color: #ffc800;
    color: #0f0f0f;
    text-decoration: none;
}
p,
ul,
ol,
dl,
blockquote,
pre,
hr,
table,
form,
fieldset,
figure,
address {
    margin-bottom: 1.65em;
}
hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid;
    border-color: inherit;
}

/*
Inputs
----------------------------------------------*/
    select, 
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="phone"],
    input[type="tel"],
    input[type="number"],
    input[type="datetime"],
    input[type="date"],
    input[type="month"],
    input[type="color"],
    input[type="time"],
    input[type="search"],
    input[type="datetime-local"] {
        font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
        font-size: 1em;
        line-height: 1.1rem;
        height: 1.8rem;
        box-shadow: none;
        outline: none;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        padding: 0.25rem 0.4rem;
    }
    select[multiple],
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="phone"],
    input[type="tel"],
    input[type="number"],
    input[type="datetime"],
    input[type="date"],
    input[type="month"],
    input[type="color"],
    input[type="time"],
    input[type="search"],
    input[type="datetime-local"] {
        background: #fff;
        border: 1px solid #ccc;
        position: relative;
        z-index: 2;
        -webkit-appearance: none;
        margin-bottom: 0.5rem;
    }
    textarea,
    select {
        font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
        font-size: 1em;
        box-shadow: none;
        padding: 0.1rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        line-height: 1.2rem;
        vertical-align: top;
        margin-bottom: 0.5rem;
    }
    textarea {
        padding: 0.3rem 0.35rem;
        line-height: 1.35em;
        width: 100%;
    }

    select:focus,
    input[type="checkbox"]:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="phone"]:focus,
    input[type="tel"]:focus,
    input[type="number"]:focus,
    input[type="datetime"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="color"]:focus,
    input[type="time"]:focus,
    input[type="search"]:focus,
    input[type="datetime-local"]:focus,
    textarea:focus {
        outline: 0;
        border-color: #2575ed;
        box-shadow: 0 0 2px rgba(37, 117, 237, 0.3), 0 0 2px rgba(37, 117, 237, 0.3) inset;
    }
    input[type="checkbox"]:-moz-focusring,
    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
    input::-moz-focus-inner,
    button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    input:disabled {
        color: #ccc;
    }
    input[type="button"]:focus,
    button:focus {
        color: #de2c3b;
    }
    label {
        font-weight: normal;
    }

    /*
    Buttons
    ----------------------------------------------*/
    button,
    input[type="button"],
    input[type="submit"] {
        display: inline-block;
        font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
        font-size: 100%;
        line-height: 100%;
        text-align: center;
        text-decoration: none;
        color: #222222;
        -webkit-appearance: none;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 2px;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        box-shadow: none;
        cursor: pointer;
        background-color: #e0e3e5;
    }
    button:active,
    button:focus,
    input[type="button"]:active,
    input[type="button"]:focus,
    input[type="submit"]:active,
    input[type="submit"]:focus {
        outline: none;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        border: 1px solid #2575ed;
    }
    button:hover,
    input[type="button"]:hover,
    input[type="submit"]:hover {
        color: rgba(0, 0, 0, 0.7);
        background: #c1c1c1;
    }
    button:focus,
    input[type="button"]:focus,
    input[type="submit"]:focus {
        color: #de2b3a;
    }
    button:disabled, button:disabled:hover,
    input[type="button"]:disabled, input[type="button"]:disabled:hover,
    input[type="submit"]:disabled, input[type="submit"]:disabled:hover {
        color: rgba(0, 0, 0, 0.4);
        background: #bbb;
        border: 1px solid #aaa;
        box-shadow: none;
    }
    button:active:hover,
    input[type="button"]:active:hover,
    input[type="submit"]:active:hover {
        padding-left: 6px;
        padding-right: 6px;
    }

    button.append,
    input[type="button"].append,
    input[type="submit"].append {
        float: right;
        border-left: 1px solid #e0e3e5;
    }
    button.append:hover,
    input[type="button"].append:hover,
    input[type="submit"].append:hover {
        border-left: 1px solid #c1c1c1;
    }
    button.append:focus,
    input[type="button"].append:focus,
    input[type="submit"].append:focus {
        border: 1px solid #2575ed;
    }

    /*
    Search Bar
    ----------------------------------------------*/
    input[type="search"] {
        background: none repeat scroll 0% 0% #fff;
        border: 1px solid #ccc;
        vertical-align: text-bottom;
        font-size: 1em;
        line-height: 1.1rem;
        margin-bottom: 0;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    button.search,
    input[type="submit"].search {
        line-height: 1rem;
        position: relative;
        top: 0px;
    }


/*
Layout
----------------------------------------------*/
body {
    overflow-y: scroll;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    text-align: center;
}
header h1.title-big {
    margin-bottom: 2em;
    margin-top: 1em;
}
header h1.title-small {
    text-align: center;
}

.proviso {
    color: #888;
    font-size: 0.8em;
}

section > h2 {
    text-align: center;
}

.indented {
    padding-left: 5%;
}

div {
    margin-bottom: 1rem;
}

div.alert {
    text-align: center;
}

div.alert {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 4px;
}

div.alert-success {
    background-color: rgb(223, 240, 216);
    border-color: rgb(214, 233, 198);
    color: rgb(60, 118, 61);
}

div.alert-error {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}

label > input[type="file"] {
    display: none;
}

.bordered {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
}

small,
.small {
    font-size: 0.8em;
    line-height: 100%;
    color: #888;
}
div.small {
    margin-bottom: 0.4em;
}

.unlabled {
    list-style-type: none;
}

/*
Centralised Things
--------------------------------------*/
.central {
    padding-left: 20%;
    padding-right: 20%;
}
.centre-align {
    text-align: center;
}


.break {
    margin-top: 4rem;
}

.break-small {
    margin-top: 2rem;
}

.break-large {
    margin-top: 6rem;
}

    /*
    Global Nav Bar
    --------------------------------------*/
    nav {
        padding-bottom: 0.5em;
    }
    nav.indent {
        padding-left: 10%;
        padding-right: 10%;
    }
    nav > ul {
        list-style: none;
        margin-bottom: 0;
    }
    nav.horizontal > * {
        display: inline-block;
    }
    nav.horizontal.central {
        padding: 0;
        text-align: center;
    }
    nav.horizontal > ul > li {
        display: inline-block;
    }
    nav.horizontal > ul > li, 
    nav.horizontal > ul.float-left > li {
        margin-left: 0;
        margin-right: 1em;
    }
    nav.horizontal > ul.float-right > li {
        margin-left: 1em;
        margin-right: 0;
    }
    nav > ul > li > a > .fa {
        padding-right: 0.1em;
    }
    nav form {
        margin-bottom: 0;
        position: relative;
        top: 0.2em;
    }
    nav form > select {
        background-color: #e0e3e5;
        color: #222;
        margin-bottom: 0;
    }
    nav form > select > option {
        color: #222;
    }
    nav .float-left, nav .float-right {
        position: relative;
        top: 0.2em;
    }
    input[type="search"] {
        background: none repeat scroll 0% 0% #fff;
        border: 1px solid #ccc;
        position: relative;
        top: 0px;
        vertical-align: text-bottom;
        line-height: 1.1rem;
        margin-bottom: 0;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    button.search,
    input[type="submit"].search {
        line-height: 1rem;
        position: relative;
        top: 0px;
    }
    button.square,
    input[type="submit"].square {
        border-radius: 0;
    }
    .prepend {
        background-color: #e0e3e5;
        min-width: 1rem;
        line-height: 1.1rem;
        height: 1.8rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border: 1px solid #ccc;
        border-bottom-left-radius: 0.5em;
        border-top-left-radius: 0.5em;
        border-right-color: #e0e3e5;
        float: left;
    }
    .append {
        height: 1.8rem;
    }
    select.prepend {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
    input[type="search"].appended {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    input[type="search"].prepended {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    header nav.horizontal {
        border-bottom: 1px solid #ccc;
    }
    header .fa {
        font-size: 1.1rem;
        line-height: 1rem;
    }

    /*
    Progress Bar
    --------------------------------------*/
    .form-progression {
        margin-top: 3em;
    }
    ul.progress-steps {
        list-style: none;
        margin-bottom: 0;
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    ul.progress-steps > li {
        display: table-cell;
        text-align: center;
        font-weight: bold;
    }
    ul.progress-steps > li.progress-inactive {
        color: #888;
    }
    .progress-container {
        width: 100%;
        height: 0.4em;
        border: 1px solid #134DA5;
        border-radius: 2px;
    }
    .progress-bar {
        height: 100%;
        background-color: #134DA5;
    }
    .form-progression {
        margin-bottom: 4em;
    }

    /*
    Forms
    --------------------------------------*/
    .date-long {
        width: 4em;
    }
    .date-short {
        width: 2.5em;
    }
    .name-long {
        width: 14em;
    }
    .name-short {
        width: 12em;
    }
    .address-long {
        width: 16em;
    }
    .address-short {
        width: 12em;
    }
    .postcode-short {
        width: 3.5em;
    }
    .postcode-long {
        width: 4.5em;
    }
    .price-long {
        width: 7em;
    }
    .price-short {
        width: 4em;
    }
    .credit-card-long {
        width: 12em;
    }
    .credit-card-short {
        width: 3.5em;
    }
    .title-long {
        width: 20em;
    }
    .category-long {
        width: 11em;
        margin-left: 0.4em;
    }
    .summary-small {
        width: 20em;
        height: 9.3em;
    }
    .summary-short {
        width: 32em;
        height: 7em;
    }
    .summary-long {
        width: 32em;
        height: 12em;
    }
    .description-long {
        width: 39.3em;
        height: 10em;
    }
    @keyframes highlight-border-red {
        0%   {border-color: #f00;}
        33%  {border-color: #a94442;}
        66%  {border-color: #f2dede;}
        100% {border-color: #ccc;}
    }
    input.error, 
    textarea.error {
        animation: highlight-border-red 6s linear;
    }
    input.clarified,
    textarea.clarified {
        margin-bottom: 0;
    }
    .error-message {
        display: inline-block;
        color: #a94442;
    }
    .currency.prepend {
        padding-left: 0.4em;
        padding-right: 0.2em;
        border-radius: 0;
    }
    .upload-droparea {
        position: relative;
        overflow: hidden;
        padding: 2em 0.5em;
        border: 3px dashed rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-bottom: 0.5em;
        width: 18em;
    }

    /*
    Footer
    --------------------------------------*/
    footer {
        text-align: center;
        margin-top: 6em;
        margin-bottom: 2em;
    }

    footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    } 

    footer ul li { 
        display: inline-block; 
    }
    footer ul.dotted li:after { content: " \2022 "; }
    footer ul.dotted li:last-child:after { content: none; }

    footer li > a {
        width: 60px;
        padding-left: 1em;
        padding-right: 1em;
    }

    footer .links {
        font-size: 1.5em;
        color: rgba(0, 0, 0, 0.8);
    }

    footer .credits {
        margin-top: 3em;
    }

/*
Style
----------------------------------------------*/

    input[type="search"] {
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
    }
    button.search,
    input[type="submit"].search {
        border-radius: 0;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }
    /*
    Footer
    --------------------------------------*/
    footer {
        color: rgba(0, 0, 0, 0.4);
    }
    footer .credits h3 {
        color: rgba(0, 0, 0, 0.4);
    }
    footer a {
        color: rgba(0, 0, 0, 0.5);
    }
    footer a:hover { 
        color: rgba(0, 0, 0, 0.7);
    }

    /*
    Font-Awesome Stuff
    --------------------------------------*/
    .fa {
        cursor: default;
    }
    button .fa,
    a .fa {
        cursor: pointer;
    }
    sup.fa, sub.fa, small.fa {
        font-size: 0.7em;
    }

    /*
    Targeted link to fade.
    --------------------------------------*/
    @keyframes highlight-yellow {
        0%   {background: #ffc800;}
        100% {background: inherit;}
    }

    .highlight:target {
        animation: highlight-yellow 4s linear;
    }